.checkoutInfo {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hiddenCheckoutInfo {
  display: none;
}
.checkoutForm {
  width: 60vw;
  height: 80vh;
  background: #fff;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.checkoutForm > button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #db6e53;
  width: 150px;
  color: #fff;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border: none;
}
.checkoutForm > h2 {
  margin-top: 20px;
  font-size: 1.7rem;
  border-bottom: 1px solid lightgray;
  width: 300px;
  text-align: center;
}
.checkoutInputs {
  display: flex;
  flex-direction: column;
  height: 600px;
  margin-top: 20px;
  justify-content: space-around;
  align-items: center;
}
.checkbox-container {
  display: flex;
  align-items: center;
}
.checkbox-container > p {
  margin-right: 10px;
}
.checkbox-container > input {
  cursor: pointer;
  height: 16px;
  width: 16px;
}
.checkoutInputs > input {
  height: 40px;
  font-size: 1rem;
  padding: 0 10px;
  outline: none;
  width: 300px;
}
.checkoutInputs > input:focus {
  border: 2px solid #2b5735;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.noOrdersAllowedButton {
  background-color: #a6aca7;
  width: 150px;
  color: #fff;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  pointer-events: none;
  transition: all 0.3s ease;
  outline: none;
  border: none;
}

.ordersAllowedButton {
  background-color: #2b5735;
  width: 150px;
  color: #fff;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border: none;
}
.totalCostComponent {
  position: absolute;
  right: 430px;
  top: 18vh;
}
.checkbox-container > p > strong {
  color: #2b5735;
}
.checkbox-container > p > strong:hover {
  text-decoration: underline;
  cursor: pointer;
}
