.checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.checkoutItems {
  width: 30vw;
  height: 60vh;
  overflow-y: scroll;
  margin-top: 20vh;
  background-color: #f7f7f7;
}
