.header {
  display: flex;
  background: transparent;
  width: 100%;
  height: 60px;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.5s ease;
}
.navLinks {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navLinks > li {
  list-style: none;
}
.navLinks > li > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
}
.navLinks > li > a:hover {
  color: #99d3a6;
  transition: all 0.3s ease;
}
.navLinks > li > a > .MuiSvgIcon-root {
  margin-right: 5px;
}
.logo {
  font-family: "Lobster Two", cursive;
  color: #fff;
  cursor: pointer;
}
.scrolledHeader {
  background-color: #fff;
}
.scrolledHeader > .logo {
  color: #638455;
}
.scrolledHeader > .navLinks > li > a {
  color: #638455 !important;
  z-index: 100;
  font-size: 20px;
  cursor: pointer;
}
.scrolledHeader > .navLinks > li > a:hover {
  color: #638455;
}
.header-basket-count {
  margin-left: 4px;
}
.headerLinkTag {
  list-style: none;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerLinkTag > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.scrolledHeader > .headerLinkTag > .logo {
  color: #638455 !important;
}
