.header {
  display: flex;
  background-color: #fff;
  width: 100%;
  height: 60px;
  justify-content: space-around;
  align-items: center;
}
.navLinks {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navLinks > li {
  list-style: none;
}
.navLinks > li > a {
  display: flex;
  align-items: center;
  color: #638455;
  text-decoration: none;
  font-size: 20px;
}
.navLinks > li > a > .MuiSvgIcon-root {
  margin-right: 5px;
}
.logo {
  font-family: "Lobster Two", cursive;
  color: #638455;
}
