.home {
  width: 100%;
  height: fit-content;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.homeHeaderImage {
  width: 100%;
  height: 25vh;
  object-fit: cover;
  pointer-events: none;
}
.productContainer {
  width: 100%;
  height: fit-content;
  padding: 150px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productColumn {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productRow {
  width: 80%;
  display: flex;
  height: fit-content;
  justify-content: space-between;
  margin: 0 0 30px 0;
}
@media (max-width: 1900px) {
  .productRow {
    width: 90%;
  }
}
@media (max-width: 1600px) {
  .productRow {
    width: 100%;
  }
}
@media (max-width: 1080px) {
  .productColumn {
    flex-direction: row;
  }
  .productRow {
    flex-direction: column;
    align-items: center;
  }
}
