.product {
  width: 400px;
  height: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border: 3px solid #638455;
}
.productImageContainer {
  width: 360px;
  height: 380px;
  margin: 20px 20px 10px 20px;
}
.productImageContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.productDescription {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.productButtonsContainer {
  margin-top: 20px;
}
.productButtonsContainer > button {
  background: #638455;
  color: #fff;
  padding: 7px 10px;
  display: flex;
  align-items: center;
  width: 150px;
  border: none;
  outline: none;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.productButtonsContainer > button:hover {
  background-color: #2b5735;
}
