.product {
  width: 400px;
  height: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border: 3px solid #638455;
}
.productImageContainer {
  width: 90%;
  height: 60%;
  margin: 5% 10% 10% 10%;
}
.productImageContainer > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.productDescription {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.productButtonsContainer {
  margin-top: 20px;
}
.productButtonsContainer > button {
  background: #638455;
  color: #fff;
  padding: 7px 10px;
  display: flex;
  align-items: center;
  width: 150px;
  border: none;
  outline: none;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
}
.productButtonsContainer > button:hover {
  background-color: #2b5735;
}
@media (max-width: 1460px) {
  .product {
    width: 350px;
    height: 450px;
  }
  .productImageContainer {
    height: 50%;
  }
}
@media (max-width: 1290px) {
  .product {
    width: 300px;
    height: 430px;
  }
}
@media (max-width: 1180px) {
  .product {
    width: 270px;
    margin: 30px 0;
  }
  .productImageContainer {
    height: 60%;
  }
}
@media (max-width: 970px) {
  .product {
    width: 300px;
    height: 450px;
    margin: 30px 0;
  }
  .productImageContainer {
    height: 60%;
  }
}
